@(controller: de.htwg.se.rummi.controller.ControllerInterface)

@tile_colour(grid: String, row: Int, col: Int) = @{
    var c = ""
    if(grid == "F") {
        if(!controller.field.tiles.get(row, col).isEmpty) {
            c =
                    controller.field.tiles(row, col).colour.name match {
                        case "RED" => "red"
                        case "BLUE" => "blue"
                        case "GREEN" => "green"
                        case "YELLOW" => "yellow"
                        case "WHITE" => "joker"
                    }
        }
    }
    else if(grid == "R") {
        if(!controller.rackOfActivePlayer.tiles.get(row, col).isEmpty) {
            c =
                    controller.rackOfActivePlayer.tiles(row, col).colour.name match {
                        case "RED" => "red"
                        case "BLUE" => "blue"
                        case "GREEN" => "green"
                        case "YELLOW" => "yellow"
                        case "WHITE" => "joker"
                    }
        }
    }
}

@player_name = @{
    controller.activePlayer.name
}
@game_state = @{
    controller.getGameState.toString
}

@fieldRows = @{
    controller.field.ROWS
}
@fieldCols = @{
    controller.field.COLS
}

@rackRows = @{
    controller.rackOfActivePlayer.ROWS
}
@rackCols = @{
    controller.rackOfActivePlayer.COLS
}

@letter = @{'A' to 'M'}

@main("Rummikub") {

    <div id="header">
        <div class="container">
            <a href="/" class="logo">
                <img src="@routes.Assets.versioned("images/rummy.png")">
                <h1>Rummikub the Game</h1>
            </a>
            <ul class="nav">
                <li>
                    <a href="/about">Rules</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="gamecontainer">
        <div class="container">
            <div class="game">
                <div class="grid">
                    <div class="row">
                        <span class="cell">_</span>
                        @for(l <- letter) {
                            <span class=" cell">@{l}</span>
                        }
                    </div>
                @for(row <- 1 to fieldRows) {
                    <div class="row">
                        <span class="cell">@{row}</span>
                    @for(col <- 1 to fieldCols) {
                        <span class="cell rtile" name="@{row}*@{col}" style="color:
                        @{
                            controller.field.getTileAt(row, col) match {
                                case Some(t) => t.colour
                                case None => "black"
                            }
                        }">
                        @{
                            controller.field.getTileAt(row, col) match {
                                case Some(t) => if(t.joker){"J"} else {t.number}
                                case None => " "
                            }
                        }
                        </span>
                    }
                    </div>
                }

                </div>
@*rack*@
                <div class="grid">
                @for(row <- 1 to rackRows) {
                    <div class="row">
                        <div class="cell">@{row+8}</div>
                    @for(col <- 1 to rackCols) {
                        <span class="cell rtile" id="clickable_tile" name="@{row+8}*@{col}" style="color:
                            @{
                            controller.rackOfActivePlayer.getTileAt(row, col) match {
                                case Some(t) => t.colour
                                case None => "black"
                            }
                        }">
                        @{
                            controller.rackOfActivePlayer.getTileAt(row, col) match {
                                case Some(t) => if(t.joker){"J"} else {t.number}
                                case None => " "
                            }
                        }
                        </span>
                    }
                    </div>
                }
                </div>
            </div>

            <div class="ctrl-container">
                <div class="row">
                    <span id="selected_tile_label" class="invisible alert alert-primary"></span>
                </div>
                <div class="player">
                    <p>
                        <b>Active Player: </b> @player_name
                    </p>
                </div>
                <div class="gameState">
                    <p><b>Game State: </b> @game_state.toLowerCase</p>
                </div>
                <a class="btn sort" href="/sorted">
                    <div class="inner">Sort</div>
                    <div class="inner-back">troS</div>
                </a>
                <a class="btn draw" href="/draw">
                    <div class="inner">Draw</div>
                    <div class="inner-back">warD</div>
                </a>
                <a class="btn undo" href="/undo">
                    <div class="inner">Undo</div>
                    <div class="inner-back">odnU</div>
                </a>
                <a class="btn redo" href="/redo">
                    <div class="inner">Redo</div>
                    <div class="inner-back">odeR</div>
                </a>
                <a class="btn finish" href="/switchPlayer">
                    <div class="inner">Finish Turn</div>
                    <div class="inner-back">hsiniF nruT</div>
                </a>
            </div>
        </div>

    </div>
    <div id="footer">
        <a href="/" class="logo">
            <img src="@routes.Assets.versioned("images/rummy.png")">
        </a>
        <ul class="nav">
            <li>
                <a href="/about">Rules</a>
            </li>
        </ul>
    </div>
}